In [3]:
import findspark
findspark.init()
import pyspark

In [4]:
# convertendo DF do Pandas em DF do Spark
import pandas as pd

In [7]:
churn = pd.read_csv("/home/rafael/download/Churn.csv", sep=";")
churn.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0,1,1,1,10134888,1
1,608,Spain,Female,41,1,8380786,1,0,1,11254258,0

In [8]:
# verificando tipo de dados pandas
type(churn)

pandas.core.frame.DataFrame

In [9]:
# criando sess√£o do pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Pandas").getOrCreate()

21/10/17 17:56:48 WARN Utils: Your hostname, rafaelluz-note resolves to a loopback address: 127.0.1.1; using 192.168.0.103 instead (on interface wlxd4d2d6c80260)
21/10/17 17:56:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/17 17:56:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [10]:
# criando DF spark baseado no DF pandas
churnDf = spark.createDataFrame(churn)

In [11]:
# verificando tipo de dados Spark
type(churnDf)

pyspark.sql.dataframe.DataFrame

In [13]:
churnDf.show(2)

+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure|Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|      0|            1|        1|             1|       10134888|     1|
|        608|    Spain|Female| 41|     1|8380786|            1|        0|             1|       11254258|     0|
+-----------+---------+------+---+------+-------+-------------+---------+--------------+---------------+------+
only showing top 2 rows

In [14]:
# convertendo DF spark em DF Pandas
pandas = churnDf.toPandas()

In [15]:
# Verificando tipo de dados Pandas
type(pandas)

pandas.core.frame.DataFrame

In [16]:
pandas.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0,1,1,1,10134888,1
1,608,Spain,Female,41,1,8380786,1,0,1,11254258,0