In [1]:
import findspark
findspark.init()
import pyspark

In [2]:
# import pandas as pd
import databricks.koalas as pd

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [3]:
churn = pd.read_csv("/home/rafael/download/Churn.csv", sep=";")
churn.head(2)

21/10/17 18:35:29 WARN Utils: Your hostname, rafaelluz-note resolves to a loopback address: 127.0.1.1; using 192.168.0.103 instead (on interface wlxd4d2d6c80260)
21/10/17 18:35:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/17 18:35:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/10/17 18:35:31 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
21/10/17 18:35:39 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

   CreditScore Geography  Gender  Age  Tenure  Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female   42       2        0              1          1               1         10134888       1
1          608     Spain  Female   41       1  8380786              1          0               1         11254258       0

In [4]:
# aloca linhas de 0-3 e colunas de 0-4
churn.iloc[1:4,0:4]

21/10/17 18:35:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
21/10/17 18:35:42 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

   CreditScore Geography  Gender  Age
1          608     Spain  Female   41
2          502    France  Female   42
3          699    France  Female   39

In [5]:
churn["CreditScore"].describe()

count    10000.000000
mean       650.528800
std         96.653299
min        350.000000
25%        584.000000
50%        652.000000
75%        717.000000
max        850.000000
Name: CreditScore, dtype: float64

In [6]:
agrupado = churn.groupby(["Geography"]).size()
print(agrupado)

Geography
Germany    2509
France     5014
Spain      2477
dtype: int64